<div ng-controller="comentController">
  <div class="container siteComent">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="headPost">Comentario posteado por: </span><span class="titlePost"> Pedris87</span></div>
        <div class="panel-body">Gracias a RunWorking he podido mirar rutas y luego realizarlas, seguir así! Mis dies para los creadores ;)</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="headPost">Comentario posteado por: </span> <span class="titlePost"> Ugarian</span></div>
        <div class="panel-body">App total! Todo lo que he querido en una aplicación RunWorking lo tiene!!</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="headPost">Comentario posteado por: </span> <span class="titlePost"> Gener_Powah</span></div>
        <div class="panel-body">Gracias a RunWorking he podido ir a correr sin que me diera pereza!! xD </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="headPost">Comentario posteado por: </span> <span class="titlePost"> Mr Serdo</span></div>
        <div class="panel-body">#MantenteRunner #RunWorkingSano #LaAppQueGobernaraATodas</div>
      </div>
    </div>
  </div>
</div>