<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 logoSite">
            <a href="/"><img src="img/runworking_logo.jpg" /></a>
        </div>
        <div class="col-md-9 sloganSite">
            <p>RUN YOUR FEELINGS</p>
        </div>
    </div>
</div>
<nav class="navbar navGeneral navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/maps">Rutas</a></li>
                <li><a href="/videos">Vídeos</a></li>
                <li><a href="/images">Imágenes</a></li>
                <li><a href="/temp">Tiempo</a></li>
                <li><a href="/store">Tienda</a></li>
                <li><a href="/coments">Comentarios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="userUnregistered">
                <li><a href="/register" class="register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                <li><a href="/login" class="login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>