
<div ng-controller="imageController">
	<div class="container">
		<div class="col-md-6">
			<div id="galeria_imagen">
				<img id="imgGaleria" src="img/galleryImage/full/1.jpg" /></div>

			</div>
			<div class="col-md-6">
				<div id="galeria_miniaturas">
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/1.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/2.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/3.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/4.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/5.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/6.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/7.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/8.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/9.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/10.jpg" />
					<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src=this.src;" src="img/galleryImage/full/11.jpg" />
				</div>
			</div>


		</div>
	</div>