<div ng-controller="indexController">
    <div id="ca-container" class="ca-container">
        <div class="ca-wrapper">
            <div class="ca-item ca-item-1">
                <a href="#" class="ca-more">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>¿Tecnología y deporte juntos?</h3>
                        <h4>
							<span class="textSlide">Camisetas que controlan la frecuencia cardiaca y ayudan a mantener una buena postura, zapatillas que miden los pasos que das…</span>
						</h4>
                    </div>
                </a>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Mantente Runner</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>La tecnología en el deporte juega un papel muy importante; ya que nos permite medir nuestros entrenamientos y nos ayuda a mejorar las marcas personales. Si, además, no tenemos que preocuparnos por llevar conectados varios gadgets a la vez, mucho mejor.</p>
                            <p>Es por ello que las tecnologías vestibles han comenzado a revolucionar el sector del fitness y se presentan como una opción más que prometedora para la práctica de diferentes deportes como tenis, golf, esquí, running… y, por supuesto, con grandes beneficios sobre nuestra salud y bienestar.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-2">
                <a href="#" class="ca-more">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>COMO RECOGER EL AVITUALLAMIENTO</h3>
                        <h4>
							<span class="textSlide">Cuando estas corriendo una prueba de maratón o cualquier otra debes tener cuidado a la hora de recoger la bebida en el avituallamiento...</span>
						</h4>
                    </div>
                </a>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Ten estos puntos en cuenta</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                            <p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-3">
                <a href="#" class="ca-more">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>Es un apoyo o un lastre</h3>
                        <h4>
							<span class="textSlide">Investigamos si tu smartphone es un apoyo o un lastre en tus sesiones de running. ¿Es bueno utilizar el móvil cuando corres?</span>
						</h4>
                    </div>
                </a>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Tú decides</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>Según un estudio, consultar tu smartphone cuando estás entrenando puede frenar tu rendimiento.</p>
                            <p> ¿Alguna vez has intentado subir las escaleras mientras enviabas un mensaje y has acabado en el suelo, mientras tu móvil salía volando? Si la respuesta es sí, habrás experimentado lo complicado que es hacer dos cosas a la vez. Si quieres entrenar realmente bien y concentrado, deberías plantearte que contestar a ese whatsapp 'tan importante' puede esperar al final de la sesión de deporte.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-4">
                <a href="#" class="ca-more">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>Como Mejorar tu rendimiento</h3>
                        <h4>
							<span class="textSlide">Las lentes polarizadas son idóneas para evitar deslumbramiento producido por el sol reflejado en la superficie...</span>
						</h4>
                    </div>
                </a>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Fuera reflejos</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                            <p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-5">
                <a href="#" class="ca-more">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>Escuchar música o no en carrera</h3>
                        <h4>        
							<span class="textSlide">El 14 de noviembre de 2010 25 atletas fueron descalificados durante la carrera Ravenna-Forli por utilizar auriculares con música. ¿La razón?</span>
						</h4>
                    </div>
                </a>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>¿Descalificación justa?</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>Sucede por primera vez en Italia, donde han aplicado el reglamento del modo más estricto. La Forli - Ravenna es una prueba de 30 kilómetros que se organiza desde hace 20 años. Según uno de los artículos del reglamento de la prueba, "se prohibe la posesión o utilización de cámaras de vídeo, grabadoras, CD, receptores de radio, teléfonos móviles, reproductores musicales o similares", por lo que estos 25 corredores han sido descalificados de la carrera.</p>
                            <p>Esta regla se puso en práctica hace unos años en el Maratón de Nueva York, en la que los organizadores consideraron "doping psicológico" el hecho de correr con música, con el ánimo de reducir los incidentes durante la carrera. Lo cierto es que, pese a ello, no ha sido aplicada todavía en Nueva York.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-6">
                <a href="#" class="ca-more">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>Consigue muchos regalos</h3>
                        <h4>
							<span class="textSlide">RunWorking te da la opción de canjear tus puntos por premios, regalos, etc. Asi que no lo dudes, sal a correr y no mires hacía atrás.</span>
						</h4>
                    </div>
                </a>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Cambia puntos por Regalos</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                            <p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-7">
                <a href="#" class="ca-more">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>Apuntarse o no a un maratón</h3>
                        <h4>
							<span class="textSlide">¿Puede cualquiera correr un maratón, sin arriesgarse a lo peor? En España no es necesario un chequeo médico, debido a que...</span>
						</h4>
                    </div>
                </a>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Mantente Maratoniano</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>Los amantes del atletismo popular, runners que llenan calles y parques de colores fluorescentes, suelen quejarse, y no sin razón, de que las carreras rara vez son noticia. Salvo que alguien fallezca. La mala fortuna se confabulaba el pasado fin de semana con el Maratón de las Vías Verdes de Ojos Negros (Castellón).</p>
                            <p> Dos participantes perdían la vida, uno durante el evento y otro poco después. Un hecho desgraciado que realimenta la polémica sobre si cualquiera puede meterse en el berenjenal de correr tantos kilómetros. O si se puede pasar de no hacer nada de deporte a ser finisher (denominación anglosajona para quienes cruzan la meta aunque no ganen) en menos de un mes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 raceDiv" ng-controller="TodoCtrl">
                <h1 class="RacesPhrase">Próximas carreras</h1>
                <div class="raceList" ng-repeat="race in races">
                    <img class='imgRace' ng-src={{race.Image}} />
                    <p><span class="blueColor">Nombre:</span> {{race.Nombre}} </p>
                    <p><span class="blueColor">Fecha:</span> {{race.Fecha}} </p>
                    <p><span class="blueColor">Hora:</span> {{race.Hora}} </p>
                    <p><span class="blueColor">Población:</span>{{race.Poblacion}} </p>
                    <p><span class="blueColor">Distancia:</span> {{race.Distancia}} </p>
                    <p><span class="blueColor">Modalidad:</span> {{race.Modalidad}}</p>
                </div>
            </div>
            <div class="col-md-5 twitter">
                <a class="twitter-timeline" href="https://twitter.com/RunWorking">Tweets by RunWorking</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
<script>
    $('#ca-container').contentcarousel();
</script>