<div ng-controller="loginController">
    <div class="container siteLogin">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                <form role="form" >
                   <div class="form-group">
                    <label for="user" class="marginLabel">Nombre:</label>
                    <input type="text" class="form-control init" name="user" title="Tiene que tener 2 letras como mínimo" id="userLogin"  autofocus required/>
                </div>
                <div class="form-group">
                    <label for="passuser">Contraseña:</label>
                    <input type="password" class="form-control" name="passuser" id="passwordLogin" required/>
                </div>
                <button class="btnForm btn btn-primary" id="btnLogin" onClick="userAccess()">Iniciar Sesión</button>
            </form>
            <div class="incorrectUser"><p>Los datos introducidos son incorrectos</p></div>

        </div>

    </div>
</div>
<div id="msgLogin"></div>
<div id="btnAccess"></div>
</div>