<!-- <div ng-controller="storeController">

<div class="col-md-4" ng-repeat="product in products">
		<div class="row seccionStore {{product.container}}">
			<div class="col-md-6" style="text-align: center">
				<img ng-src="img/store/{{product.img}}.jpg" />
			</div>
			<div class="col-md-6 siteCoin">
				<img ng-src="img/{{product.coin}}.png" height="70" />
			</div>
		</div>
		<div class="{{product.msg}}">
			<p>{{product.description}}</p>
		</div>
	</div>



</div> -->
<div ng-controller="storeController">
	<div class="row">

		<div class="col-md-4">
			<div class="row seccionStore cajaSoporte">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/soporte.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda30.png" height="70" />
				</div>
			</div>
			<div class="msgSoporte">
				<p>Soporte para móviles</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row seccionStore cajaCascos">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/cascos.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda.png" height="70" />
				</div>
			</div>
			<div class="msgCascos">
				<p>Cascos Running</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row seccionStore cajaCamiseta">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/camiseta.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda20.png" height="70" />
				</div>
			</div>
			<div class="msgCamiseta">
				<p>Camiseta Térmica</p>
			</div>
		</div>

	</div>
	<div class="row">

		<div class="col-md-4">
			<div class="row seccionStore cajaPulso">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/pulsometro.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda20.png" height="70" />
				</div>
			</div>
			<div class="msgPulso">
				<p>Pulsómetro</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row seccionStore cajaReloj">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/reloj.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda30.png" height="70" />
				</div>
			</div>
			<div class="msgReloj">
				<p>Reloj Running</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row seccionStore cajaGuantes">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/guantes.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda.png" height="70" />
				</div>
			</div>
			<div class="msgGuantes">
				<p>Guantes</p>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-md-4">
			<div class="row seccionStore cajaCalcetines">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/calcetines.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda.png" height="70" />
				</div>
			</div>
			<div class="msgCalcetines">
				<p>Calcetines Térmicos</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row seccionStore cajaRino">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/riñonera.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda20.png" height="70" />
				</div>
			</div>
			<div class="msgRino">
				<p>Riñonera Running</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row seccionStore cajaZapas">
				<div class="col-md-6" style="text-align: center">
					<img src="img/store/zapas.jpg" />
				</div>
				<div class="col-md-6 siteCoin">
					<img src="img/moneda30.png" height="70" />
				</div>
			</div>
			<div class="msgZapas">
				<p>Zapatillas Running</p>
			</div>
		</div>

	</div>
</div> 