<div ng-controller="storeController">
	<div class="row">

		<a href="#" id="coinValue">
			<div class="col-md-4">
				<div class="row seccionStore cajaSoporte">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/soporte.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda30.png" height="70"   />
					</div>
				</div>
				<div class="msgSoporte">
					<p>Soporte para móviles</p>
				</div>
			</div>
		</a>

		<a href="#" id="coinValue">
			<div class="col-md-4">
				<div class="row seccionStore cajaCascos">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/cascos.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda10.png" height="70"  />
					</div>
				</div>
				<div class="msgCascos">
					<p>Cascos Running</p>
				</div>
			</div>
		</a>

		<a href="#" id="coinValue">
			<div class="col-md-4">
				<div class="row seccionStore cajaCamiseta">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/camiseta.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda20.png" height="70"  />
					</div>
				</div>
				<div class="msgCamiseta">
					<p>Camiseta Térmica</p>
				</div>
			</div>
		</a>

	</div>
	<div class="row">
		<a href="#" id="coinValue">

			<div class="col-md-4">
				<div class="row seccionStore cajaPulso">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/pulsometro.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda20.png" height="70"  />
					</div>
				</div>
				<div class="msgPulso">
					<p>Pulsómetro</p>
				</div>
			</div>
		</a>

		<a href="#" id="coinValue">

			<div class="col-md-4">
				<div class="row seccionStore cajaReloj">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/reloj.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda30.png" height="70"  />
					</div>
				</div>
				<div class="msgReloj">
					<p>Reloj Running</p>
				</div>
			</div>
		</a>

		<a href="#" id="coinValue">

			<div class="col-md-4">
				<div class="row seccionStore cajaGuantes">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/guantes.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda10.png" height="70"  />
					</div>
				</div>
				<div class="msgGuantes">
					<p>Guantes</p>
				</div>
			</div>
		</a>
	</div>

	<div class="row">

		<a href="#" id="coinValue">

			<div class="col-md-4">
				<div class="row seccionStore cajaCalcetines">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/calcetines.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda10.png" height="70"  />
					</div>
				</div>
				<div class="msgCalcetines">
					<p>Calcetines Térmicos</p>
				</div>
			</div>
		</a>
		<a href="#" id="coinValue">

			<div class="col-md-4">
				<div class="row seccionStore cajaRino">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/riñonera.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda20.png" height="70"  />
					</div>
				</div>
				<div class="msgRino">
					<p>Riñonera Running</p>
				</div>
			</div>
		</a>

		<a href="#" id="coinValue">
			<div class="col-md-4">
				<div class="row seccionStore cajaZapas">
					<div class="col-md-6" style="text-align: center">
						<img src="img/store/zapas.jpg" />
					</div>
					<div class="col-md-6 siteCoin">
						<img class="coinValue" src="img/moneda30.png" height="70"  />
					</div>
				</div>
				<div class="msgZapas">
					<p>Zapatillas Running</p>
				</div>
			</div>
		</a>
	</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Preparación de pedido</h2>
    </div>
    <div class="modal-body">
      <label>Dirección:</label>
      <input type="text" id="directionBuy" />
      <div class="noCoins">No tienes suficientes creditos para hacer la compra</div>
                      <button class="btnForm btn btn-primary" id="btnShop">Confirmar</button>
                      		 <div class="msgBuy"><p>Compra Realizada</p></div>
                      		 <div class="msgDirection"><p>Introduce una dirección</p></div>


    </div>
    <div class="modal-footer">
      <h3>El pedido llegará en el transcurso máximo de 2 semanas</h3>
    </div>
  </div>

</div>
	</div>
</div> 