<div ng-controller="userController">
	<div class="col-md-2 colGeneral">
		<div id="menu">
			<div class="avatar">
				<img class="redondo" src="../img/profile.jpg"/>
			</div>
			<ul>
				<li><a href="/mapsUser" >Mis Rutas</a></li>
				<li><a href="/uImages">Mis Imágenes</a></li>
				<li><a href="...">Mis Videos</a></li>
				<li class="last"><a href="/settings">Configuración</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-10">
		<p class="welcomeUser">

		</p>
		<div id="reloj"></div>

	</div>
</div>
