<div ng-controller="videoUserController">
	<div class="col-md-2 colGeneral">
		<div id="menu">
			<div class="avatar">
				<img class="redondo" src="../img/profile.jpg"/>
			</div>
			<ul>
				<li><a href="/mapsUser" >Mis Rutas</a></li>
				<li><a href="/uImages">Mis Imágenes</a></li>
				<li><a href="/videoUser">Mis Videos</a></li>
				<li class="last"><a href="/settings">Configuración</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-10 prox" style="height:450px;  display: table;text-align:center">
	<p style="font-family:headerFont; font-weight:bold; font-size:50px;">próximamente</p>
	</div>
</div>